<<<<<<< HEAD
@media(min-width: 992px){
	*{
		box-sizing: border-box;
	}
	.best{
	position:relative;
	border: 5px solid black;
	margin:12px;
	padding-top: 5px;
	background-color:grey;
	float:left;
	width:30.5%;
	}
	.width{
		position: relative;
		clear: right;
	}
	.top,.top2,.top3{
		position: relative;
		float:right;
		width:40%;
		border:5px solid black;
		top:-30px;
		left:5px;
		display: block;
		font-size: 125%;
		text-align: center;

		
	}
	h1{
		text-align: center;
		margin-bottom: 30px;
		margin-bottom:20px;
	}
	.top{
		background-color:yellow; 
	}
	.top2{
		background-color: blue;
	}
	.top3{
		background-color: pink;
	}
	}
@media(min-width:768px) and (max-width: 991px)
{
	*{
		box-sizing: border-box;
	}
	.best{
	border: 5px solid black;
	margin:10px;
	padding:5px;
	width:47.3%;
	position:relative;
	background-color:grey;
	float:left;
	}
	.width{
		clear: right;
		position:relative;
	}
	
	.top,.top2,.top3{
		float:right;
		width:40%;
		border:5px solid black;
		position: relative;
		top:-25px;
		left:10px;
		text-align: center;
		}
		h1{
		text-align: center;
		margin-bottom: 30px;
		font-size: 175%;
	}
	.top{
		background-color:yellow; 
	}
	.top2{
		background-color: blue;
	}
	.top3{
		background-color: pink;
	}
	.hi
	{
		width: 97%;
	}
	
}
@media(max-width: 767px)
{
	*{
		box-sizing: border-box;
	}
	.best{
	border: 5px solid black;
	margin:10px;
	padding:5px;
	width: 95%;
	position: relative;
	background-color:grey;
	float:left;
	}
	.width{
		clear: right;
		position:relative;
		width:200px;
	}
	
	.top,.top2,.top3{
		float:right;
		width:40%;
		position: relative;
		top:-30px;
		left:10px;
		border:5px solid black;
		font-size: 125%;
		text-align: center;

		
	}
	h1{
		text-align: center;
		margin-bottom: 30px;
		font-size: 175%;
	}
	.top{
		background-color:yellow; 
	}
	.top2{
		background-color: blue;
	}
	.top3{
		background-color: pink;
	}
=======
* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
div#box1{
  border: 5px solid black;
  background-color: grey;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  margin-bottom: 15px;
   position: relative;
   padding :0px 0px 10px 10px; 
}
div#box2{
  border: 5px solid black;
  background-color: grey;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  margin-bottom: 15px;
   position: relative;
   padding :0px 0px 10px 10px; 
}
div#box3{
  border: 5px solid black;
  background-color: grey;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  margin-bottom: 15px;
   position: relative;
   padding :0px 0px 10px 10px; 
}
#t1{
  position:relative;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: red;
  border: 5px solid black;
  float:right;
  left:5px;
  top:-5px;
  margin:0px;
  text-align-last: right;
}
#t2{
  position:relative;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  top:-5px;
  margin:0px;
  background-color: blue;
  border: 5px solid black;
  left:5px;
  float:right;
  text-align-last: right;
}
#t3{
  position:relative;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  top:-5px;
  left:5px;
  text-decoration: none;
  background-color: yellow;
  border: 5px solid black;
  float:right;
  text-align-last: right;
}
#p1{
  
  clear:both;
  padding-top: 15px;
  
   
}
/********** Large devices only **********/
@media (min-width: 992px) {
  
  h1{

  text-align: center;
  margin-bottom: 5%;
}
  div#box1
  {
    width:30%;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
  }
  div#box2
  {
    float:left;
    width:30%;
    margin-left: 10px;
    margin-right: 20px;
    
  }
  div#box3
  {
    width:30%;
    float:left;
    margin-left: 10px;
  
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  

h1{

  text-align: center;
  margin-bottom: 5%;
}

  div#box1
  {
    width:49%;
    float:left;
    
  }
  div#box2
  {
    float:right;
    width:49%;

    
  }
  div#box3
  {
    width:100%;
    float:left;
  }
>>>>>>> 86cc20db0b7440a6be9061c49fa0d1184ca6d9f4
}
